@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  & body {
    padding: 0;
    margin: 0;
  }
}

a {
  color: inherit;
  
  &:hover, &:active, &:focus {
    color: #bb4600;
  }
}

* {
  box-sizing: border-box;
}
