@import "../../styles/_animations.css";
@import "../../styles/_settings.css";

.root {
  margin-top: 3rem;
}

.titleContainer {
  margin-top: 3rem;

  @media(--medium-bp) {
    position: relative;
    width: 100%;
    min-height: 5rem;
    margin: 9rem auto 0;
    text-align:center;
  }
}

.headline {
  z-index: 2;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;

  @media(--medium-bp) {
    font-size: 3.125rem;
  }
}

.headlineBackground {
  display: none;
  @media(--medium-bp) { 
    position: absolute;
    top: -0.625rem;
    z-index: 1;
    display: block;
    width: 100%;
    margin-top:;
    font-size: 4.81rem;
    font-weight: 700;
    user-select: none;
    opacity: 0.18;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3rem;

  @media(--medium-bp) {
    flex-direction: row;
  }
}

.skillsCard {
  flex-basis: 45%;
  margin-bottom: 2rem;
}

.cardTitle {
  margin-bottom: 1.5rem;
  font-size: 1.625rem;
  color: #898bff;
}

.skillsContainer {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 0.9375rem;
  }
}

.fadeInUp {
  animation: fadeInUpMenu 500ms forwards;

  @media screen and (prefers-reduced-motion: reduce) {
    animation: none
  }
}