.root {
  height: 21.25rem;
  padding: 1rem;
  background-color: #121120;
}

.date {
  font-size: 1.625rem;
  font-weight: 700;
  color: #00c3ff;
}

.title {
  font-size: 1.625rem;
  color: #898bff;
}

.subtitle {
  font-size: 0.75rem;
}

.description {
  font-size: 1rem;
  line-height: 1.8;
}