@import "../../styles/_settings.css";

.navbar {
  @apply flex;
}

.navContainer {
  @apply text-slate-400 bg-slate-800;

  position: fixed;
  width: 50vw;
  height: 100vh;
  padding-top: 3.125rem;
  margin: 1.25rem 0;
  margin-top: 0;
  transform: translateX(-50vw);

  & li {
    padding:0.625rem 0.75rem;
    list-style-type: none;

    &:hover, &:focus {
      @apply bg-slate-500;
    }
  }

  @media(--medium-bp) {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    padding: 0;
    transform: translateX(0);
  }
}

.navContainerOpened {
  transition: .5s ease-in-out;
  transform: translateX(0);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: translateX(0)
  }
}

.navContainerClosed {
  transition: .5s ease-in-out;
  transform: translateX(-100vw);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: translateX(-100vw)
  }

  @media(--medium-bp) {
    transform: translateX(0);
  }
}

.navbarItem {
  @apply cursor-pointer;
}

/* Hamburger Menu */
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  cursor: pointer;
  

  @media(--medium-bp) {
    display: none;
  }
}

.burger {
  width: 2.1rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 10px;
  transition: none;
  transform-origin: 0.0625rem;
}

.burger1Opened {
  transition: .5s ease-in-out;
  transform: rotate(45deg);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: rotate(45deg)
  }
}

.burger1Closed {
  transition: .5s ease-in-out;
  transform: rotate(0);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: rotate(0)
  }
}

.burger2Opened {
  opacity: 0;
  transition: .5s ease-in-out;
  transform: translateX(100%);

  @media screen and (prefers-reduced-motion: reduce) {
    opacity: 0;
    transition: none;
    transform: translateX(100%)
  }
}

.burger2Closed {
  opacity: 1;
  transition: .5s ease-in-out;
  transform: translateX(0);

  @media screen and (prefers-reduced-motion: reduce) {
    opacity: 1;
    transition: none;
    transform: translateX(0)
  }
}

.burger3Opened {
  transition: .5s ease-in-out;
  transform: rotate(-45deg);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: rotate(-45deg)
  }
}

.burger3Closed {
  transition: .5s ease-in-out;
  transform: rotate(0);

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    transform: rotate(0)
  }
}